/* == font == */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
body{
font-family: 'Noto Serif', serif;
}
/* ---Top Banner Styles--- */
.top-banner{
    display: flex;
    background: #161616;
    color: white;
    border-radius: 30px;
    margin: 5% 0% 13% 10%;
    width: 1110px;
}
.top-banner .top-banner-image{
    width: 60%;
}
.top-banner:hover{
    background-color: hsla(0, 0%, 9%, 0.438);
    color: black;
}
h1{
    font-size: 50px;
    font-weight: bolder
}
.top-banner-info{
    padding: 30px 40px 90px 50px;
}
 .top-banner-image{
   margin: 40 4% 0% 10%;
}
.button-style{
    padding: 16px 25px;
    background-color: #f9d100;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: white;
}
/* ====================
second section styles
======================= */
.middle-part{
    display: flex;
    margin-bottom: 50px;
}
.match-box-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 24px;
}
.button-box-bgstyle{
    background-color: black;
    height: 210px;
    width: 200px;
    margin-left: 140px;
    border-radius: 10px;
} 
 .box-button-style{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 211px;
    width: 170px;
    margin: auto; 
}
.button-individual-style{
    background-color:white;
    color: black;
    text-decoration: none;
    padding: 12px 10px 12px 10px;
    border-radius: 10px;
    text-align: center;
}
.button-individual-style:hover{
    background-color: #f9d100;
    color: white;
}
.match-video-box{
    height: 345px;
    width: 252px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.match-info{
    margin-left: 20px;
    margin-right: 20px;
    
}
button{
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    height: 32px;
}
h4{
    margin-bottom: 10px;
}
.footer{
    color: rgba(0, 0, 0, 0.7);
    display: flex;
}
.footer p{
    margin-right: 30px;
    margin-left: 20px;
}
.hidden-button{
    display: none;
    background-color: #f9d100;
    color: white;
    text-decoration: none;
    height: 47px;
    width: 131px;
    padding: 12px 29px;
    margin-left: 635px;
    border-radius: 5px;

}
/* --------
last section style
-------------- */
.footer-style{ 
    background-color: #161616;
    margin: 0;
    height: 345px;
    padding-top: 70px;
}
h2{
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
     margin-bottom: 30px;
}
.link-style{
 margin-top: 40px;
text-align: center;
}
.footer-link{
    color: hsla(0, 0%, 73%, 1);
    text-decoration: none;
    font-size: small;
    padding-left: 30px;
    padding-right: 30px;
}
/* --------
    moblie devices
----------------- */
@media only screen and (max-width: 500px){
.top-banner{
   width: 100%;
   display: block;
   text-align: center;
   margin: auto;
}
.top-banner-image{
    padding-left:25%;
}
.middle-part{
    display: block;
}
.button-box-bgstyle{
    background-color: white;
    margin-left: 80px;
}
.button-individual-style{
  border: 1px solid hsla(0, 0%, 73%, 1);
}
.match-box-holder{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 50px;
}
.link-style{
    display: flex;
    flex-direction: column;
}
.footer-link{
    padding: 0px 0px 10px 0px;
}
}

